<head>

<link rel="stylesheet" href="/stylesheets/new.css"/></head>
<body>

<h1 style="text-align:center"> Create Your New Client</h1>
<div align="center">
<form action="/clients" method="POST">
 <table>
  <tr>
   <td><h2>Name :</h2></td> <td><input type="text" name="name"></td><br>
  </tr>
  <tr>
   <td><h2>Email :</h2></td> <td><input type="text" name="email"></td><br>
  </tr>
  <tr>
   <td><h2>Tattoo :</h2></td> <td><input type="text" name="tattoo"></td><br>
  </tr>
  <tr>
   <td style="text-align:center"><input type="submit" value="Submit"></td>
  </tr>
 </table>
 </div>
</form>
<head>
<head>
</body>