
<head> <style>body{background-image: url("gun.jpg")}</style>
<link rel="stylesheet" href="/stylesheets/artist.css" /></head>
<body text="#FFD700">
<h1 style="text-align:center" > </h1>

<hX style="font-size:55px" >Current Clients</hX>
   <% @client.each do  |client| %>
   <%if client.artist_id == current_user.id%>
    <ul>
    <a href="/clients/<%=client.id%>" style="font-size:30px"> <%=client.name%></a>
      <li style="font-size:22px" ><%=client.email%></li>
      <li style="font-size:22px" ><%=client.tattoo%></li><br>
   </ul>
   <%end%>
   <%end%>
   
   
  <div align="left">

   <form action="/clients/new" method="get">
   <h3 style="text-align:left" style="font-size;30px"> Create a New Client</h30>
    <table>
     <tr>
      <td style="text-align:center"><input type="submit" value="Create" style="width:100px; height:35px";" ></td>
     </tr>
    </table>
    <a href="/sessions/logout" style="font-size:30px">Log Out</a>
   </div>
  </form>
</body>