<head>
<style>body{background-image: url("download-9.jpg")}</style>
<link rel="stylesheet" href="/stylesheets/failure.css" /></head>
<body >

<h1 style="text-align:center">ERROR!</h1>
<h2 style="text-align:center">It seems there was a problem. Please return to <a href="/">the home page</a> and try again.</h2>