<head>
<style>body  {
    background-image: url("/hopeless.webp");
    background-size: cover;
  } </style>
<link rel="stylesheet" href="/stylesheets/failure.css" /></head>
<body >

<h1 style="text-align:center">ERROR!</h1>
<h2 style="text-align:center">You didn't sign in correctly go back to the <a href="/">home page</a> and try again.</h2>