<!DOCTYPE html>
<div class="container">
  <header style="text-align:center"> </header>
  <div class="col-md-8 col-md-offset-2">
<html>
<head>
<style>body{background-image: url("gun.jpg")}</style>
<link rel="stylesheet" href="/stylesheets/tattoo.css" /></head>
<body >

<h1 style="text-align:center">Welcome Artists!</h1>

<h3 style="text-align:center">If you already have an account, sign in. If not, go to the sign-in link below to create an account.</h3>

<div class="row">
<div class="column">
<img src="parlor.jpg">
</div>
<div class="column">
<form action="/login" method="POST">
 <table>

  <tr>
 
   <td>  <h2>Email :</h2></td> <td><input type="text" name="email"></td><br>
  </tr>
  <tr>
   <td><h2>Password :</h2></td> <td><input type="password" name="password"></td><br>
  </tr>
  <tr>
   <td style="text-align:center"><input type="submit" value="Submit"></td>
  </tr>
 </table>
</form>
</div>
<div class="column">
<img src="parlor.jpg">
</div>
</div>

<a href="/signup"><h2 style="text-align:center">Sign Up</h2></a>




</body>






</html>