<header><img src="download.jpg" ALIGN="right"</header>
<h1 style="text-align:center"> Sign Up</h1>
<div align="center">
<form action="/signup" method="POST">
 <table>
  <tr>
   <td><h2>Name :</h2></td> <td><input type="text" name="name"></td><br>
  </tr>
  <tr>
   <td><h2>Email :</h2></td> <td><input type="text" name="email"></td><br>
  </tr>
  <tr>
   <td><h2>Password :</h2></td> <td><input type="password" name="password"></td><br>
  </tr>
  <tr>
   <td style="text-align:center"><input type="submit" value="Submit"></td>
  </tr>
 </table>
 </div>
</form>